@inherits LayoutComponentBase
@inject DashboardOptions Options

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenText TextStyle="TextStyle.H6" class="rz-m-0 rz-p-2">
                @Options.Title Dashboard
            </RadzenText>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="_sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Workflows"
                                Path="@($"{Options.RoutePrefix.TrimStart('/')}/workflows")"
                                Icon="account_tree" />
            <RadzenPanelMenuItem Text="Data" Icon="storage" @bind-Expanded="_dataExpanded">
                <RadzenPanelMenuItem Text="Metadata"
                                    Path="@($"{Options.RoutePrefix.TrimStart('/')}/data/metadata")"
                                    Icon="timeline" />
                <RadzenPanelMenuItem Text="Logs"
                                    Path="@($"{Options.RoutePrefix.TrimStart('/')}/data/logs")"
                                    Icon="list_alt" />
                <RadzenPanelMenuItem Text="Manifests"
                                    Path="@($"{Options.RoutePrefix.TrimStart('/')}/data/manifests")"
                                    Icon="description" />
                <RadzenPanelMenuItem Text="Dead Letters"
                                    Path="@($"{Options.RoutePrefix.TrimStart('/')}/data/dead-letters")"
                                    Icon="error_outline" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool _sidebarExpanded = true;
    private bool _dataExpanded = true;
}
